.section__link{
    background: $gradient-primary;
    &-inner{

    }
    .reset-col{
        &:not(:last-child){
            box-shadow: inset -1px 0px 0px #D8E0E8;
        }
    }
    .cate__group{
        display: flex;
        flex-direction: column;

        height: 100%;
    }
    .link__group{
        &-item{
            .link{
                font-size: 16px;
                line-height: 24px;
            }
            &:not(:first-child){
                box-shadow: inset 0px 1px 0px #E4EAF1;
            }
        }
        @include respond-to('md'){
            &-item{
                .link{
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .lc__view-more{
        box-shadow: inset 0px 1px 0px $gray-300;
        margin-top: auto;
    }
    @include respond-to('md'){
        .target-tab{
            box-shadow: none;
            position: absolute;

            opacity: 0;
            visibility: hidden;

            transition: opacity .6s;
            &.active{
                position: relative;

                opacity: 1;
                visibility: visible;
            }

        }

        .tab__item{
            $this: &;

            flex: 1;
            text-align: center;

            transition-duration:0.6s;
            position: relative;
            z-index: 1;

            &.active{
                // @debug  #{$this}-child;
                color: red;
                .tab__item-child{
                    font-weight: 500;
                    color: $white;
                    border-radius: 1000px;
                }
            }
            &-child{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;

                padding: 6px 0;
                color: $gray-600;

                border-radius: 1000px;

                transition: all .6s;
            }
            &:focus,&:active{
                outline: none;
                background: none;
            }
        }
        .selector{
            height:32px;

            left: 12px;
            top:8px;

            border-radius:50px;
        }
    }
}
.lc__cate-thuoc{

}
.selector{
    display:inline-block;
    position:absolute;

    z-index:1;

    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.12, -0.22, 0.265, 1.45);
    background-color: $primary;
    box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
}