.covid-form {
    &-inner {
        // background: url(/frontend_v3/images/covid/bg-form.webp) no-repeat top center;
        background: url(../images/covid/bg-form.webp) no-repeat top center;
        background-size: cover;
        padding: 40px 0 0;
    }
    .landing__banner {
        background: transparent;
        max-width: 957px;
        margin: auto;
        padding: 0px 0 20px;
        &-picture {
            picture {
                @include aspect-ratio(846, 258, 0);
                @include respond-to("md") {
                    @include aspect-ratio(296, 420, 0);
                }
            }
        }
    }
    .form-article {
        .check-rule {
            align-items: baseline;
        }
        input[type="checkbox"] {
            transform: translateY(2px);
        }
    }

    @include respond-to("md") {
        &-inner {
            // background: url(/frontend_v3/covid/bg-form-mb.webp) no-repeat top center;
            background: url(../images/covid/bg-form-mb.webp) no-repeat top center;
            background-size: cover;
            padding: 24px 0 0;
        }

        .landing__banner {
            &-picture {
                max-width: 295px;
                margin: auto;
            }
        }

        .lc__body-head--heading {
            max-width: 308px;
            margin: auto;
            .mess {
                max-width: 100%;
            }
        }
        .lc__table .table-user .table tr td:first-child {
            width: 116px;
        }
    }
}

.pcd-quantity {
    .cs-dropdown {
        .alert {
            display: none;
        }
        &.is-invalid {
            .alert {
                display: inline-flex;
            }
            .dropdown-button:before {
                border-color: #ef4444;
            }
        }
        @include respond-to("md") {
        }
    }
    .dropdown {
        display: inline-flex;
        align-items: center;
        &-label {
            margin-right: 8px;

            font-size: 16px;
            line-height: 24px;
            color: $gray-700;
        }
        &-menu {
            max-width: 100%;
            min-width: max-content;
        }
        @include respond-to("md") {
            &-label,
            &-menu a {
                font-size: 14px !important;
                line-height: 100% !important;
            }
            &-label {
                display: none;
            }
            &-button {
                padding: 4px 38px 4px 16px;
                .label-filter-comments {
                    font-size: 14px !important;
                    line-height: 100%;
                }
                &:before {
                    border-radius: 8px;
                }
            }

            &-menu {
                min-width: 1px;
                border-radius: 8px;
                max-width: calc(100vw - 54px);
                width: max-content;
            }
        }
    }
}
