$font-icon-family: "icon" !default;
$font-icon-path: "Icon" !default;

$icons: (
  "home": "\e900",
  "hotsale": "\e901",
  "new": "\e902",
  "promo": "\e903",
  "calendar": "\e904",
  "eye": "\e905",
  "cart": "\e906",
  "cart-2": "\e907",
  "cart-refresh": "\e908",
  "tag": "\e909",
  "tags": "\e90a",
  "gift": "\e90b",
  "local-shipping": "\e90c",
  "local-shipping-2": "\e90d",
  "guarantee": "\e90e",
  "flash": "\e90f",
  "lightning": "\e910",
  "location": "\e911",
  "doc": "\e912",
  "material": "\e913",
  "layout": "\e914",
  "menu": "\e915",
  "th-list": "\e916",
  "dot": "\e917",
  "cog": "\e918",
  "cogs": "\e919",
  "call": "\e91a",
  "mail": "\e91b",
  "chat": "\e91c",
  "user": "\e91d",
  "users": "\e91e",
  "picture": "\e91f",
  "photo": "\e920",
  "box": "\e921",
  "bookmark": "\e922",
  "call-center": "\e923",
  "store-pharmacy": "\e924",
  "trending": "\e925",
  "muscle": "\e926",
  "camera": "\e927",
  "blood": "\e928",
  "tooth": "\e92a",
  "dentist": "\e92b",
  "bone": "\e92d",
  "brain": "\e92e",
  "lung": "\e92f",
  "kidney": "\e930",
  "liver": "\e931",
  "stomach": "\e932",
  "uterus": "\e933",
  "gender": "\e934",
  "gender-female": "\e935",
  "gender-male": "\e936",
  "heart": "\e937",
  "heart-beat": "\e938",
  "nose": "\e939",
  "ear": "\e93a",
  "mouth": "\e93b",
  "foot": "\e93c",
  "hand": "\e93d",
  "scale": "\e93e",
  "report": "\e93f",
  "stetoscope": "\e940",
  "plaster": "\e941",
  "needle": "\e942",
  "baby": "\e943",
  "drug": "\e944",
  "disease-head": "\e945",
  "disease-ent": "\e947",
  "disease-skin": "\e949",
  "hospital": "\e952",
  "target-location": "\e953",
  "drug-2": "\e954",
  "clock": "\e955",
  "health": "\e956",
  "line-blood": "\e957",
  "line-tooth": "\e958",
  "line-dentist": "\e959",
  "line-bone": "\e95a",
  "line-brain": "\e95b",
  "line-lung": "\e95c",
  "line-kidney": "\e95d",
  "line-liver": "\e95e",
  "line-stomach": "\e95f",
  "line-uterus": "\e960",
  "line-gender": "\e961",
  "line-gender-female": "\e962",
  "line-gender-male": "\e963",
  "line-heart": "\e964",
  "line-heart-beat": "\e965",
  "line-nose": "\e966",
  "line-ear": "\e967",
  "line-mouth": "\e968",
  "line-foot": "\e969",
  "line-hand": "\e96a",
  "line-scale": "\e96b",
  "line-report": "\e96c",
  "line-stetoscope": "\e96d",
  "line-plaster": "\e96e",
  "line-needle": "\e96f",
  "line-baby": "\e970",
  "line-drug": "\e971",
  "line-disease-head": "\e972",
  "line-disease-ent": "\e973",
  "line-disease-skin": "\e974",
  "line-hospital": "\e975",
  "line-cancer": "\e976",
  "line-drug-2": "\e977",
  "line-clock": "\e978",
  "close-thin": "\e97a",
  "like": "\e97b",
  "reply": "\e97c",
  "reply-all": "\e97d",
  "export": "\e97e",
  "login": "\e97f",
  "renew": "\e980",
  "spin": "\e981",
  "reload": "\e982",
  "replay": "\e983",
  "download": "\e984",
  "upload": "\e985",
  "send": "\e986",
  "edit": "\e987",
  "filter": "\e988",
  "line-filter": "\e989",
  "trash": "\e98a",
  "pause": "\e98b",
  "play": "\e98c",
  "search": "\e98d",
  "zoom-out": "\e98e",
  "zoom-in": "\e98f",
  "expand": "\e990",
  "minimize": "\e991",
  "angle-left-thin": "\e992",
  "angle-right-thin": "\e993",
  "angle-up-thin": "\e994",
  "angle-down-thin": "\e995",
  "angle-lef": "\e996",
  "angle-right": "\e997",
  "angle-up": "\e998",
  "angle-down": "\e999",
  "angle-select": "\e99a",
  "angle-left-double": "\e99b",
  "angle-right-double": "\e99c",
  "angle-up-double": "\e99d",
  "angle-down-double": "\e99e",
  "arrow-left": "\e99f",
  "arrow-right": "\e9a0",
  "arrow-up": "\e9a1",
  "arrow-down": "\e9a2",
  "left": "\e9a3",
  "right": "\e9a4",
  "up": "\e9a5",
  "down": "\e9a6",
  "arrow-select": "\e9a7",
  "minus": "\e9a8",
  "plus": "\e9a9",
  "check": "\e9aa",
  "cancel": "\e9ab",
  "help": "\e9ac",
  "info": "\e9ad",
  "exclamation": "\e9ae",
  "quote": "\e9af",
  "star": "\e9b0",
  "star-o": "\e9b1",
  "star-half": "\e9b2",
  "star-half-o": "\e9b3",
  "circle-sm": "\e9b6",
  "circle-md": "\e9b5",
  "circle-lg": "\e9b4",
  "note": "\e9b7",
  "logout": "\e92c",
);
