.lc-listen-customer {

    color: $gray-700;
    input::placeholder, input[type=number]::placeholder{
        color: #718198;
        opacity: 1;
    }
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input, textarea{
        &:focus{
            outline: none;
        }
    }

    .lc-wrap-account {
        border-top: 1px solid $gray-300;
        picture {
            display: inline-block;
        }
        .lc-account-email {
            img {
                margin-top: -2px;
                width: 28px;
            }
        }
        .txt-save {
            cursor: pointer;
            img {
                width: 22px;
                margin-top: -2px;
            }
        }
        @include respond-to("md") {
            display: block !important;
        }
    }
    
    .check-form {
        .radio input {
            margin-top: 0;
        }
    }
    .wrap-textarea {
        textarea {
            width: 100%;
            border-radius: 12px;
            transition: all .3s;
            padding: 6px 16px;
            max-width: 100%;
            + .is-alert{
                display: none;
            }
        }
        .is-invalid{
            + .is-alert{
                display: inline-flex;
            }
        }
    }
    .form-input {
        max-width: 350px;
    }
    .lc__body-content-thanks {
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lc__btn {
        .ic-angle-right {
            font-size: 10px;
        }
    }
    @include respond-to("md") {
        .lc__btn{
            .btn {
                padding: 0 10px;
                font-size: 14px;
            }
        }
    }
}


.modal-auto-save,
.modal-clear-form {
    .modal-wrapper {
        max-width: 400px;
        @include respond-to("md") {
            width: 95%;
        }
    }
}