//livestream
.livestream-banner {
    background: url(../images/livestream/background.webp) no-repeat 50% 0;
    padding-top: 40px;
    padding-bottom: 86px;
    position: relative;
    .lch-logo {
        padding-bottom: 30px;
        a {
            display: inline-block;
            width: 300px;
        }
    }
    .livestream-title {
        padding: 0 20px 30px;

        &-m {
            background: #fff2be;
            background: -webkit-linear-gradient(to bottom, #fff2be 15%, #ffd362 33%);
            background: -moz-linear-gradient(to bottom, #fff2be 15%, #ffd362 33%);
            background: linear-gradient(to bottom, #fff2be 15%, #ffd362 33%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
            font-size: 20px;
            padding: 0 20px 37px;
        }
    }
    @include respond-to("md") {
        padding-top: 25px;
        padding-bottom: 30px;
        background-size: 100%;
        .lch-logo {
            padding-bottom: 10px;
            a {
                width: 150px;
            }
        }
    }
}

.lc__livestream {
    .section-box-number {
        .inner {
            margin: 0 auto;
            width: 740px;
            padding: 64px 72px;
            background: url(../images/livestream/img-01.webp) no-repeat 0 0;
            background-size: 100% 100%;
            .alert {
                height: auto;
            }
            .form-input {
                height: 64px;
                font-size: 32px;
            }
            .btn {
                height: 56px;
                text-transform: uppercase;
            }
        }
    }
    .shadow {
        box-shadow: 0px 1px 4px 0px rgba(10, 10, 10, 0.15);
    }

    .section-list-order {
        margin-top: -20px;
        padding-bottom: 64px;
        position: relative;
        z-index: 1;
    }
    .wrap-tit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding-bottom: 24px;
        .tit-box-1 {
            font-size: 28px;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .form-search-order {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 276px;
            flex: 0 0 276px;
            .form-group {
                .alert {
                    height: auto;
                }
                &.is-invalid {
                    .form-search {
                        border-color: #ef4444;
                    }
                }
            }
            .form-search {
                min-height: 36px;
            }
        }
    }
    .table-order {
        width: 100%;
        .cell-light {
            background: $gray-100;
            text-align: left;
        }
        tr {
            box-shadow: inset 0px -1px 0px #e4eaf1;
            &:last-child {
                box-shadow: none;
            }
        }
        td {
            @extend .w-break-word;
            &:nth-child(2) {
                width: 140px;
            }
            &:nth-child(3) {
                max-width: 340px;
            }
            &:nth-child(4) {
                width: 140px;
            }
        }
    }
    .wrap-pagination {
        .pagination-link {
            border-radius: 12px;
        }
        .paging-next {
            border-left: 1px solid $gray-300;
            padding-left: 16px;
            margin-left: 13px;
        }
        .txt {
            color: $gray-700;
            font-size: 16px;
        }
        .form-group {
            padding: 0 8px;
            width: 70px;
        }
        .btn {
            padding: 0;
            height: auto;
            i {
                margin-left: 0;
            }
        }
    }

    .wrap-list-result {
        padding-bottom: 36px;
        .icon {
            width: 63px;
        }
        .tit-result {
            padding-bottom: 40px;
        }

        .tit-box-2 {
            // text-transform: uppercase;
            // letter-spacing: -0.15rem;
            // font-size: 44px;
            // line-height: 52px;
            // -webkit-text-stroke-width: 2px;
            // -webkit-text-stroke-color: #072d94;
            // -webkit-text-fill-color: #ffffff;
            // text-shadow: 2px 2px 0px #072d94;
            // filter: drop-shadow(2px 1px 1px #072d94);
        }
    }
    @include respond-to("md") {
        .section-box-number .inner {
            width: 95%;
            max-width: 357px;
            background-size: 100%;
            padding: 30px;

            .form-input {
                height: 30px;
                font-size: 18px;
            }
            .btn {
                height: 30px;
                text-transform: uppercase;
                margin-top: 10px !important;
                font-size: 15px;
                padding: 0 12px;
            }
        }
        .wrap-list-result {
            .tit-result {
                padding-bottom: 20px;
            }
            .tit-box-2 {
                max-width: 500px;
            }
        }
        .wrap-tit {
            display: block;
            .tit-box-1 {
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
        .wrap-table-order {
            overflow-x: auto;
            .table-order {
                width: 1000px;
                tr {
                    font-size: 14px;
                }
            }
        }
        .wrap-pagination {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .pagination-order {
                margin-bottom: 20px;
            }
            .paging-next {
                border: none;
                padding: 0;
                margin: 0 0 20px;
            }
        }
    }
}

.wrap-list-customer-prize {
    .prize-item {
        border: 1px solid #1d48ba;
        box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
        width: 48.5%;
        margin-bottom: 40px;
        overflow: hidden;
        .inner {
            padding: 12px 100px 4px 16px;
        }
        .item {
            padding-bottom: 8px;
            line-height: 24px;
        }
        .name {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 110px;
            flex: 0 0 110px;
        }
        .value {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .icon-bottom {
            bottom: -2px;
            right: 0;
            img {
                border-radius: 0 0 12px 0;
            }
        }
    }
    .sub-tit {
        background: url(../images/livestream/bg-title.webp);
        padding: 12px 16px;
        border-radius: 12px 12px 0 0;
    }
    @include respond-to("md") {
        .prize-item {
            width: 100%;
            margin: 0 4% 20px;
            .item {
                line-height: 18px;
                font-size: 14px !important;
            }
            .icon-bottom img {
                width: 55px;
            }
            .inner {
                padding-right: 55px;
            }
        }
        .sub-tit {
            font-size: 16px !important;
        }
    }
}
