.section-buy-medicine {
    .lc__box-title {
        > * {
            font-weight: 500;
        }
    }
    @include respond-to("md") {
        // margin-top: 8px;
    }
}
.lc__body {
    $this: &;
    &-picture {
        max-width: 64px;
        margin: auto;
        picture {
            @include aspect-ratio(1, 1, 0);
            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            @include respond-to("md") {
                @include aspect-ratio(58, 48, 0);
            }
        }
        @include respond-to("md") {
            max-width: 58px;
        }
    }
    @include respond-to("md") {
        &-list {
            align-items: center;
        }
        &-mb {
            padding-bottom: 16px;
            padding-top: 8px;
            #{$this}-btn {
                position: absolute;
                bottom: 8px;
                left: 62px;
            }
            picture {
                background-repeat: no-repeat;
                background-size: cover;
                background-blend-mode: multiply, normal;
                /* White / 100 */

                box-sizing: border-box;
                border-radius: 1000px;

                @include aspect-ratio(720, 248, 0);
            }
        }
        &-btn {
            flex-direction: column;
        }
    }
}
.lc__line {
    width: 1px;
    height: 100%;
    background-color: $gray-300;
}
