.lc__searchgroup {
  padding: 24px 80px;
  border-radius: 16px;
  background-color: $white-100;

  // margin-top: -88px;
  position: relative;
  z-index: 1059;

  @include respond-to("lg") {
    margin-top: 0;
  }

  @include respond-to("sm") {
    margin-bottom: 8px;
    padding: 12px 10px;
    border-radius: 0;

    z-index: 1062;
    box-shadow: none;
  }
  &-input {
    position: relative;
    .back-btn {
      display: none;
    }
    @include respond-to("sm") {
      &.page-fixed {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        z-index: 1112;
        display: block;
        overflow-x: hidden;
        width: 100%;
        transition: all ease-out 0.3s;
        background-color: #edf2f8;
        .form-group {
          padding: 8px 10px 8px 34px;
          background: $white-100;
          box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
          z-index: 3;
          .back-btn {
            display: block;
            position: absolute;
            left: 10px;
            top: 20px;
          }
          .form-search {
            min-height: 36px;
            border-color: $gray-300;
          }
        }
        .lc__btn-search {
          button {
            background-color: $primary-500;
            i {
              font-size: 18px !important;
              line-height: 36px !important;
            }
          }
        }
        .lc__historySuggest {
          margin-bottom: 8px;
        }
      }
    }
    .form-search {
      border-radius: 100px 0px 0px 100px;
      min-height: 56px;
      padding: 0 16px 0 24px;

      z-index: 3;

      .form-search-input {
        font-size: 18px !important;
        line-height: 24px !important;
        color: $gray-500;
      }
      @include respond-to("md") {
        min-height: 36px;
        padding: 0 12px 0 16px;
        .form-search-input {
          font-size: 16px !important;
          line-height: 24px !important;
          @include respond-to("md") {
            font-size: 14px !important;
            line-height: 20px !important;
          }
        }
      }
    }
    .lc__btn-search {
      z-index: 3;
      button {
        min-width: 126px;
      }
      @include respond-to("sm") {
        button {
          padding: 0 18px;
          min-width: 0;
        }
      }
    }
    .lc__historySuggest {
      padding: 8px 0 0 0;
    }
    .lc__suggestion,
    .lc__history {
      max-width: calc(100% - 126px);
      overflow: hidden;
      @include respond-to("sm") {
        background: #edf2f8;
        max-width: 100%;
      }
      .lc__suggestion-block {
        background-color: #fff;
        ul {
          li {
            padding: 8px 0 8px 24px;
            a {
              font-size: 16px;
              line-height: 24px;
              @include respond-to("sm") {
                font-size: 14px;
                line-height: 20px;
              }
            }
            @include respond-to("md") {
              padding: 8px 0 8px 10px;
            }
          }
        }
      }
    }
    .lc__productSuggest-item {
      padding: 8px 24px;
    }
  }
  &-trendsearch {
    .trendsearch-group {
      gap: 8px 12px;
      flex-wrap: wrap;
      .badge {
        margin-right: 0;
        span {
          word-break: break-all;
        }
      }
      @include respond-to("sm") {
        gap: 0 8px;
        flex-wrap: nowrap;
        white-space: nowrap;
        margin-right: -10px;
      }
    }
  }
}

.section-search {
  background-color: $white-100;
  @include respond-to("lg") {
    .container {
      overflow: unset;
    }
  }
}
