@mixin font-size($size, $base: 16) {
    　　font-size: $size + px;
    　　font-size: ($size / $base) + rem;
}
@mixin font-base($size, $lheight) {
    font-size: $size;
    line-height: $lheight;
}
@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}
@mixin font-ppc($size, $weight, $lh) {
    font-size: $size;
    font-weight: $weight;
    line-height:  $lh;
}